@import "./restaurants.scss";
@import "./mixins.scss";
@import "./variables.scss";
@import "./keyframes.scss";



.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;

    &__circle_1 {
        width: 7rem;
        height: 7rem;
    
        border-radius: 5rem;
        border: 0.4rem solid transparent;
        border-top-color: $primary-color;
    
        animation: spin 1s linear infinite;
    
        position: absolute; 
        margin:auto;
      }

      &__circle_2 {
        width: 5rem;
        height: 5rem;
    
        border-radius: 5rem;
        border: 0.4rem solid transparent;
        border-top-color: $secondary-color;
    
        animation: spin 1.25s linear infinite;
    
        position: absolute;
        margin: auto;
      }

      &__circle_3 {
        width: 3rem;
        height: 3rem;
    
        border-radius: 5rem;
        border: 0.4rem solid transparent;
        border-top-color: $tertiary-color;
    
        animation: spin 1.5s linear infinite;
        
        position: absolute;
        margin: auto;
      }
}

.animation_time {
    animation: end 1s forwards;
    animation-delay: 2s;
  }
  

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}



.header {
    display: flex;
    flex-direction: column;
    width: 100%;

    .img__container {
        padding: 14px 89px 13px 89px;
        display: flex;
        justify-content: center;
    }

    img {
        width: 162px;
        height: 36px;
        padding: 0px 19px 0px 16px;
    }

    .header__location {
        display: flex;
        align-items: center;
        gap: 17px;
        justify-content: center;
        background-color: #EAEAEA;
    }
}

.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: $background-color;
    text-align: center;
    padding: 0px 25px 0px 25px;


    h1 {
        font-weight: 700;
        margin-top: 39px;
    }

    p { 
        font-size: 18px;
        font-weight: 300;
        color: #353535;
        margin: 0px;
    }

    .btn {
        border-radius: 25px;
        border: none;
        background-image:linear-gradient(0deg,$primary-color, $secondary-color);
        width: 218px;
        height: 50px;
        color: white;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        margin-bottom: 57px;
        margin-top: 27px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        cursor: pointer;

        &:hover{
            transform: scale(1.1);
            opacity:0.8;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.35);
            transition: all 0.5s ease-in-out;
        }
    }
}

.Fonctionnement_Restaurants {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 1024px) {
        flex-direction: column-reverse;
    }
}

.Fonctionnement {
    padding: 0px 25px 0px 25px;
    margin-top: 48px;
    margin-bottom: 68px;

    @media screen and (min-width: 1024px) {
        padding: 50px 100px 50px 100px;
        margin-bottom: 30px;
        margin-top: 0px;
    }

    @media screen and (min-width: 1330px) {
        padding: 50px 180px 50px 180px;
    }



    h2 {
        margin-bottom: 26px;
        margin-top: 0px;
    }

    & ol {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        gap: 36px;
        padding: 0px;

        @media screen and (min-width: 1024px) {
            flex-direction: row;
            justify-content: flex-start;
        }
    }

    & li {
        background-color: $background-color;
        padding:20px 20px;
        border-radius:15px;
        height: 32px;
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        font-weight: 500;

        @media screen and (min-width: 1024px) {
            width: 100%;
        }

        .icon {
            color: #7E7E7E;
            margin-right: 20px;
        }

        .icon__purple {
            color: $primary-color;
        }
    }

    & .numeration {
        background-color: $primary-color;
        color:white;
        display:grid;
        width:24px;
        height: 24px;
        place-items: center;
        border-radius: 50px;
        position:relative;
        left:-30px;
    }
}

.Restaurants {
    background-color: $background-color;
    padding: 0px 25px 0px 25px;
    

    h2 {
        margin-top: 54px;

        @media screen and (min-width: 1024px) {
            padding-left: 100px;
        }

        @media screen and (min-width: 1330px) {
            padding-left: 180px;
        }
    }

    a {
        text-decoration: none;
        color: black;
    }

    & .cards__container {
        display: flex;
        flex-direction: column;
        gap: 18px;
        margin-bottom: 66px;

        @media screen and (min-width: 1024px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 0px 100px 0px 100px;
            grid-column-gap: 100px;
            grid-row-gap: 50px;
            gap: 0px;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
        }

        @media screen and (min-width: 1330px) {
            padding: 0px 180px 0px 180px;
        }
    }

    & .card {
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        background-color: $color-white;
        position: relative;
        
        @media screen and (min-width: 1024px) {
            min-width: 340px;
        }
        

        &__img {
            object-fit: cover;
            border-radius: 15px 15px 0px 0px;
            height: 180px;
        }

        &__new {
            height: 29px;
            width: 80px;
            background-color:$tertiary-color;
            display:flex;
            place-items: center;
            justify-content: center;
            position: absolute;
            right: 13px;
            margin-top: 10px;
            color:#008766;
            border-radius:2px;
        }

        &__contain {
            padding: 16px 13px 12px 13px;
            display: flex;
            justify-content: space-between;
        }

        &__tittle {
            font-size: 18px;
            font-weight: 700;
            margin: 0px;
        }

        &__sub-tittle {
            font-size: 17px;
            font-weight: 300;
            margin: 0px;
        } 

        &__heart-container {
            display: flex;
            position: relative;
            justify-content: flex-end;

            & i {
                font-size: 1.5rem;
            }
              
            & .fas {
                position:absolute;
                opacity: 0;
                @include gradient (180deg);
                cursor:pointer;
                background-clip:text;
                -webkit-background-clip:text;
                color:transparent;
            }

            &:hover .fas {
                transition: all 150ms ease-in;
                display: inline;
                opacity: 1;
            }

            &:hover .far {
                transition: all 150ms ease-in;
                opacity: 0;
              }
        }
    }
}

.footer {
    display: flex;
    flex-direction: column;
    padding: 22px 25px;
    align-items: flex-start;
    gap: 16px;
    background-color: #353535;

    @media screen and (min-width: 1024px) {
        padding: 30px 25px;
        flex-direction: row-reverse;
        gap: 78px;
    }

    & .footer__contain {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 1024px) {
            flex-direction: row;
            gap: 64px;
        }
    }

    p {
        color: $color-white;
        font-weight: 500;
        margin-bottom: 7px;
        margin-top: 0px;
    }

    i {
        margin-right: 11px;
    }

    .size__txt {
        font-weight: 400;
    }
}