@import "./mixins.scss";
@import "./variables.scss";

.header__restaurants {
    display: flex;
    justify-content: center;
    padding: 14px 17px 13px 17px;
    position: relative;

    &__icon {
        position: absolute;
        left: 17px;
    }
}

.header_img {
    height: 276px;
    object-fit: cover;
    width: 100%;
}

.section__menu {
    display: flex;
    flex-direction: column;
    
    @media screen and (min-width: 1024px) {
        align-items: center;
    }
    
    

    h1 {
        font-family: 'Shrikhand', cursive;
        font-size: 28px;
        margin-top: 32px;
        margin-right: 24px;
        font-weight: 400;
        margin-bottom: 0px;
        
    }
}
    .menu {
        background-color: $background-color;
        position: relative;
        top: -55px;
        border-radius: 25px 25px 0px 0px;
        padding: 0px 15px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        height: 1143px;

        @media screen and (min-width: 1024px) {
            max-width: 1055px;
            min-width: 800px;
        }

        @media screen and (min-width: 1330px) {
            width: 100%;
        }

        @media screen and (max-width: 338px) {
            height: 1181px;
        }

        h2 {
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            text-transform: uppercase;
            border-bottom: 3px solid $tertiary-color;
            margin: 0px;
            padding-bottom: 7px;
            width: 40px;
        }

        &__title_container {
            display: flex;
            align-items: baseline;

            @media screen and (min-width: 1024px) {
                justify-content: center;
            }
        }

        &__heart_container {
            position: relative;
            height: 24px;

            & i {
                font-size: 1.5rem;
            }

            & .fas {
                position:absolute;
                opacity: 0;
                @include gradient (180deg);
                cursor:pointer;
                background-clip:text;
                -webkit-background-clip:text;
                color:transparent;
            }

            &:hover .fas {
                transition: all 150ms ease-in;
                display: inline;
                opacity: 1;
            }

            &:hover .far {
                transition: all 150ms ease-in;
                opacity: 0;
              }
        }

            &__contain {
            display: flex;
            flex-direction: column;
            gap: 12px;
            }
    }

    .card_menu {
            background-color: $color-white;
            border-radius: 20px;
            display: flex;
            flex-direction: row;
            width: 100%;
            max-width: 100%;
            cursor: pointer;
            overflow: hidden;
            animation-fill-mode: both;
            animation: itemappear 0.8s;
            box-shadow:
            0.9px 1.3px 2.4px rgba(0, 0, 0, 0.06),
            4px 12px 19px rgba(0, 0, 0, 0.12);

        &__text_container {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 15px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
            p {
                margin: 0px;
                text-overflow: ellipsis;
                overflow-x: hidden;
                white-space: nowrap;
            }

            &__price {
                font-size: 15px;
                font-weight: 700;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                padding: 15px;
                margin-right: 10px;
            }

            &__title {
                font-size: 18px;
                font-weight: 500;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &__subtitle {
                font-size: 15px;
                font-weight: 300;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &__check_done {
                width: 4rem;
                transition: 0.5s;
                margin-right: -4rem;
                background-color: $tertiary-color;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &:hover &__check_done {
                margin-right: 0rem;
            }

            &__check_wrap {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 1.5rem;
                height: 1.5rem;
                background-color: #FFF;
                border-radius: 5rem;
                transform: rotate(180deg);
                transition-duration: 0.5s;
            }

            &:hover &__check_wrap {
                transform: rotate(0);
            }

            &__check_icon {
                color: $tertiary-color;
            }
        }

        .btn__container {
            display: flex;
            justify-content: center;
        

        &_btn {
            border-radius: 25px;
            border: none;
            background-image:linear-gradient(0deg,$primary-color,$secondary-color);
            width: 186px;
            height: 50px;
            color: white;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            cursor: pointer;

            &:hover{
                transform: scale(1.1);
                opacity:0.8;
                box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.35);
                transition: all 0.5s ease-in-out;
            }
        }
        }

        .height_special {
            height: 1218px;

            @media screen and (max-width: 344px) {
                height: 1259px;
            }
        }


        .footer_page {
            margin-top: -54px;
        }
