

.header__restaurants {
    display: flex;
    justify-content: center;
    padding: 14px 17px 13px 17px;
    position: relative;

    &__icon {
        position: absolute;
        left: 17px;
    }
}

.section__menu {
    display: flex;
    flex-direction: column;
    position: relative;

    h1 {
        font-family: 'Shrikhand', cursive;
        font-size: 28px;
        margin-top: 32px;
    }

    .heart {
        width: 22px;
        height: 21px;
    }

    &__img {
        object-fit: cover;
        height: 275px;
    }

    .menu {
        background-color: #F6F6F6;
        position: relative;
        top: -55px;
        border-radius: 25px 25px 0px 0px;
        padding: 0px 15px;

        h2 {
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            text-transform: uppercase;
            border-bottom: 3px solid #99E2D0;
            margin: 0px;
            padding-bottom: 7px;
            width: 40px;
        }

        &__contain {
            display: flex;
            flex-direction: column;
        }

        &__card {
            background-color: white;
        }
    }
}