body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}



.header {
    display: flex;
    flex-direction: column;
    width: 100%;

    .img__container {
        padding: 14px 89px 13px 89px;
        display: flex;
        justify-content: center;
    }

    img {
        width: 162px;
        height: 36px;
        padding: 0px 19px 0px 16px;
    }

    .header__location {
        display: flex;
        align-items: center;
        gap: 17px;
        justify-content: center;
        background-color: #EAEAEA;
    }
}

.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #F6F6F6;
    text-align: center;


    h1 {
        font-weight: 700;
        margin-top: 39px;
    }

    p { 
        font-size: 18px;
        font-weight: 300;
        color: #353535;
        margin: 0px;
    }

    .btn {
        border-radius: 25px;
        border: none;
        background-image:linear-gradient(0deg,#9356DC,#FF79DA);
        width: 218px;
        height: 50px;
        color: white;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        margin-bottom: 57px;
        margin-top: 27px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
    }
}

.Fonctionnement {
    padding-left:25px;
    padding-right: 25px;
    margin-top: 48px;
    margin-bottom: 68px;

    h2 {
        margin-bottom: 26px;
        margin-top: 0px;
    }

    & ol {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        gap: 36px;
        padding: 0px;
    }

    & li {
        background-color: #F6F6F6;
        padding:20px 20px;
        border-radius:15px;
        height: 32px;
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        font-weight: 500;

        .icon {
            color: #7E7E7E;
            margin-right: 20px;
        }

        .icon__purple {
            color: #9356DC;
        }
    }

    & .numeration {
        background-color: #9356DC;
        color:white;
        display:grid;
        width:24px;
        height: 24px;
        place-items: center;
        border-radius: 50px;
        position:relative;
        left:-30px;
    }
}

.Restaurants {
    background-color: #F6F6F6;
    padding: 0px 25px 0px 25px;
    display: flow-root;

    h2 {
        margin-top: 54px;
    }

    & .cards__container {
        display: flex;
        flex-direction: column;
        gap: 18px;
        margin-bottom: 66px;
    }

    & .card {
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        background-color: white;

        img {
            object-fit: cover;
            border-radius: 15px 15px 0px 0px;
            height: 180px;
        }

        & .card__contain {
            padding: 16px 13px 12px 13px;
        }

        & .tittle {
            font-size: 18px;
            font-weight: 700;
            margin: 0px;
        }

        & .sub__tittle {
            font-size: 17px;
            font-weight: 300;
            margin: 0px;
        } 
        
    }
}

.footer {
    display: flex;
    flex-direction: column;
    padding: 22px 25px;
    align-items: flex-start;
    gap: 16px;
    background-color: #353535;

    & .footer__contain {
        display: flex;
        flex-direction: column;
    }

    p {
        color: white;
        font-weight: 500;
        margin-bottom: 7px;
        margin-top: 0px;
    }

    i {
        margin-right: 11px;
    }

    .size__txt {
        font-weight: 400;
    }
}