.header__restaurants {
  display: flex;
  justify-content: center;
  padding: 14px 17px 13px 17px;
  position: relative;
}
.header__restaurants__icon {
  position: absolute;
  left: 17px;
}

.section__menu {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #F6F6F6;
}
.section__menu h1 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  margin-top: 32px;
  margin-right: 24px;
  font-weight: 400;
  margin-bottom: 0px;
}
.section__menu__img {
  object-fit: cover;
  height: 275px;
}
.section__menu .menu {
  background-color: #F6F6F6;
  position: relative;
  top: -55px;
  border-radius: 25px 25px 0px 0px;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.section__menu .menu h2 {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  border-bottom: 3px solid #99E2D0;
  margin: 0px;
  padding-bottom: 7px;
  width: 40px;
}
.section__menu .menu__title_container {
  display: flex;
  align-items: baseline;
}
.section__menu .menu__heart_container {
  position: relative;
  height: 24px;
}
.section__menu .menu__heart_container i {
  font-size: 1.5rem;
}
.section__menu .menu__heart_container .fas {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background: -webkit-linear-gradient(#9356DC 25%, #FF79DA 100%);
}
.section__menu .menu__heart_container:hover .fas {
  transition: all 150ms ease-in;
  display: inline;
  opacity: 1;
}
.section__menu .menu__heart_container:hover .far {
  transition: all 150ms ease-in;
  opacity: 0;
}
.section__menu .menu__text_container {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.section__menu .menu__contain {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.section__menu .menu__card {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: relative;
  gap: 5px;
  height: 38px;
  box-shadow: 0.9px 1.3px 2.4px rgba(0, 0, 0, 0.06), 4px 12px 19px rgba(0, 0, 0, 0.12);
}
.section__menu .menu__card p {
  margin: 0px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}
.section__menu .menu__card__price {
  font-size: 15px;
  font-weight: 700;
  margin-top: 38px;
  margin-right: 15px;
}
.section__menu .menu__card__title {
  font-size: 18px;
  font-weight: 500;
}
.section__menu .menu__card__subtitle {
  font-size: 15px;
  font-weight: 300;
}
.section__menu .menu__card__select__btn_container {
  position: absolute;
  right: -1px;
  top: -1px;
  display: flex;
}
.section__menu .menu__card__select__btn {
  opacity: 0;
  width: 5px;
}
.section__menu .menu__card__select__btn:hover {
  opacity: 1;
  margin-right: 0px;
  transition: 0.1s;
  width: 60px;
}
.section__menu .menu__btn__container {
  display: flex;
  justify-content: center;
}
.section__menu .menu__btn {
  border-radius: 25px;
  border: none;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  width: 186px;
  height: 50px;
  color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.section__menu .menu__btn:hover {
  transform: scale(1.1);
  opacity: 0.8;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.35);
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header .img__container {
  padding: 14px 89px 13px 89px;
  display: flex;
  justify-content: center;
}
.header img {
  width: 162px;
  height: 36px;
  padding: 0px 19px 0px 16px;
}
.header .header__location {
  display: flex;
  align-items: center;
  gap: 17px;
  justify-content: center;
  background-color: #EAEAEA;
}

.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  text-align: center;
  padding: 0px 25px 0px 25px;
}
.section-1 h1 {
  font-weight: 700;
  margin-top: 39px;
}
.section-1 p {
  font-size: 18px;
  font-weight: 300;
  color: #353535;
  margin: 0px;
}
.section-1 .btn {
  border-radius: 25px;
  border: none;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  width: 218px;
  height: 50px;
  color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 57px;
  margin-top: 27px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.section-1 .btn:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.35);
  transition: all 0.5s ease-in-out;
}

.Fonctionnement {
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 48px;
  margin-bottom: 68px;
}
.Fonctionnement h2 {
  margin-bottom: 26px;
  margin-top: 0px;
}
.Fonctionnement ol {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 36px;
  padding: 0px;
}
.Fonctionnement li {
  background-color: #F6F6F6;
  padding: 20px 20px;
  border-radius: 15px;
  height: 32px;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  font-weight: 500;
}
.Fonctionnement li .icon {
  color: #7E7E7E;
  margin-right: 20px;
}
.Fonctionnement li .icon__purple {
  color: #9356DC;
}
.Fonctionnement .numeration {
  background-color: #9356DC;
  color: white;
  display: grid;
  width: 24px;
  height: 24px;
  place-items: center;
  border-radius: 50px;
  position: relative;
  left: -30px;
}

.Restaurants {
  background-color: #F6F6F6;
  padding: 0px 25px 0px 25px;
  display: flow-root;
}
.Restaurants h2 {
  margin-top: 54px;
}
.Restaurants a {
  text-decoration: none;
  color: black;
}
.Restaurants .cards__container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 66px;
}
.Restaurants .card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: white;
  position: relative;
}
.Restaurants .card__img {
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
  height: 180px;
}
.Restaurants .card__new {
  height: 29px;
  width: 80px;
  background-color: #99E2D0;
  display: flex;
  place-items: center;
  justify-content: center;
  position: absolute;
  right: 13px;
  margin-top: 10px;
  color: #008766;
  border-radius: 2px;
}
.Restaurants .card__contain {
  padding: 16px 13px 12px 13px;
}
.Restaurants .card__tittle {
  font-size: 18px;
  font-weight: 700;
  margin: 0px;
}
.Restaurants .card__sub-tittle {
  font-size: 17px;
  font-weight: 300;
  margin: 0px;
}
.Restaurants .card__heart-container {
  display: flex;
  position: relative;
  justify-content: flex-end;
}
.Restaurants .card__heart-container i {
  font-size: 1.5rem;
}
.Restaurants .card__heart-container .fas {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background: -webkit-linear-gradient(#9356DC 25%, #FF79DA 100%);
}
.Restaurants .card__heart-container:hover .fas {
  transition: all 150ms ease-in;
  display: inline;
  opacity: 1;
}
.Restaurants .card__heart-container:hover .far {
  transition: all 150ms ease-in;
  opacity: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 22px 25px;
  align-items: flex-start;
  gap: 16px;
  background-color: #353535;
}
.footer .footer__contain {
  display: flex;
  flex-direction: column;
}
.footer p {
  color: white;
  font-weight: 500;
  margin-bottom: 7px;
  margin-top: 0px;
}
.footer i {
  margin-right: 11px;
}
.footer .size__txt {
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
